@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

html, body {
  height: 100%;
}

.dark-background {
  background-color: #212529;
}

.covid-numbers {
  font-size: 30px;
}

.jumbotron-padding {
  padding-top: 100px;
}

@include media-breakpoint-up(sm) {
  .btn-block-down {
    display: block;
  }
}



// html {
//     font-size: 62.5%; // 1rem is 10px
// }

// *,
// *::after,
// *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: inherit;
//     font-family: 'montserrat';
// }

// body {
//     overflow-x: hidden;
//     font-weight: normal;

//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     text-rendering: optimizeLegibility;
//     -webkit-tap-highlight-color: transparent;
// }

// .app {
//     margin-top: 2rem;
//     display: grid;
//     justify-items: center;
// }